body{
	font-size: 15px;
	background: #f4f4f4;
}

.add-btn{
	margin-top: 10px;
	margin-right: 50px;
}

table tr th,table tr td{
	font-size: 15px;
	padding: 5px;
}

ul li{
	list-style: none;
	font-size: 15px;
}

.button-group{
	margin: auto;
	width: 130px;
	text-align: center;
}

.button-group li{
	margin: auto;
	display: inline-block;
}

table{
	-webkit-box-shadow: 0px 0px 5px 1px rgba(24,22,56,1);
	-moz-box-shadow: 0px 0px 5px 1px rgba(24,22,56,1);
	box-shadow: 0px 0px 5px 1px rgba(24,22,56,1);
}